.app {
	display: flex;
	flex-direction: row;
	gap: 35px;
}

.user img {
	width: 100px;
	border-radius: 50%;
	border: solid 1px rgb(0, 0, 0);
}

.user img:hover {
	transition: 1s;
	width: 100px;
	border-radius: 50%;
	border: solid 1px green;
}

.user {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
	gap: 25px;
}
